{{>ourTeamBanner}}


<ul class="ourTeamPersonalPageLinks">

    <li>
        <div class="personCardHeader">
            <div class="ourTeamPersonImageContainer">
                <img src="/images/stefanBackgroundCropped.png" class="card-img-top" alt="Stefan image">
            </div>
            <div class="shortBio">

                <h4 class="card-title">Стефан Бабуков</h4>

                <p class="card-text"><i class="fa-solid fa-check"></i>
                    SEO
                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Digital Marketing
                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    WordPress and WooCommerce
                </p>
            </div>
        </div>

        <div class="personCardBody">
            <div class="quotes stefan">

                <h5 class="quote">
                    Всеки проект е ново предизвикателство, което изисква задълбочен анализ и персонализиран
                    подход. Моята страст е да открия индивидуалната маркетингова стратегия, която е най-подходяща за
                    вашия бизнес и която да трансформира всяка поставена цел в реален резултат.
                </h5>
                <p class="quoteAuthor">Стефан Бабуков</p>
            </div>
        </div>
    </li>

    <li>
        <div class="personCardHeader petya">
            <div class="shortBio">

                <h4 class="card-title">Петя Бабукова</h4>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Single Page Applications (SPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>

                    Multy Page Applications (MPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Design & QA
                </p>
            </div>
            <div class="ourTeamPersonImageContainer ">
                <img src="/images/petya.png" class="card-img-top" alt="Petya image">
            </div>
        </div>

        <div class="quotes">
            <h5 class="quote petya">
                Сърцето ми е в дизайна, умът ми - в кода. Заедно създаваме красота и функционалност във всяко
                пространство на интернет. Влагам цялата си страст и усилия във всеки проект, за да превърна
                вашите идеи в реалност, а вашата марка не просто се забелязва, а остава и запомнена.
            </h5>
            <p class="quoteAuthor">Петя Бабукова</p>
        </div>
    </li>

</ul>