{{>ourTeamBanner}}


<ul class="ourTeamPersonalPageLinks">

    <li>
        <div class="card">
            <img src="/images/stefan.jpg" class="card-img-top" alt="Stefan image">
            <div class="card-body">
                <h3 class="card-title">Стефан Бабуков</h3>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    WordPress with WooCommerce
                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    SEO
                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Digital Marketing
                </p>

                <a href="/ourteam/stefan" class="btn btn-primary">Повече за Стефан</a>
            </div>
        </div>
    </li>

    <li>
        <div class="card">
            <img src="/images/petya.png" class="card-img-top" alt="Petya image">
            <div class="card-body">
                <h3 class="card-title">Петя Бабукова</h3>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Single Page Applications (SPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>

                    Multy Page Applications (MPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Design & QA 
                </p>
                <a href="/ourteam/petya" class="btn btn-primary cardButtonCustomStyles">Повече за Петя</a>
            </div>
        </div>
    </li>
</ul>