{{>ourTeamBanner}}


<ul class="ourTeamPersonalPageLinks">

    <li>
        <div class="personCardHeader">

            {{!-- <img src="/images/stefan.jpg" class="card-img-top" alt="Stefan image"> --}}
            <img src="/images/stefanBackgroundCropped.png" class="card-img-top" alt="Stefan image">
            <div class="shortBio">

                <h3 class="card-title">Стефан Бабуков</h3>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    WordPress and WooCommerce
                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    SEO
                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Digital Marketing
                </p>
            </div>
        </div>

        <div class="personCardBody">
            <div class="bio">
                {{!-- <h2 class="bioSubtitle">Моят път до тук</h2> --}}
                {{!-- <p class="bioPContent">
                    Тръгнах от Техникума по фина механика и оптика, минах през Техническия университет в София,
                    но през повечето от професионалният си опит съм работил в издателския бизнес – вестници,
                    списания, книги и пр. Надградих уменията си в посока WordPress development, SEO оптимизация,
                    Digital Marketing и др. Истинско щастие изпитвам, наблюдавайки растежа на позициите на
                    клиентите ни в интернет пространството в следствие на намесата ми.
                </p> --}}
            </div>

            <div class="quotes stefan">
                {{!-- <h4><i class="fa-solid fa-quote-left"></i></h4> --}}
                {{!-- <i class="fa-solid fa-quote-left"></i> --}}
                <h5 class="quote">
                    Всеки проект е ново предизвикателство, което изисква задълбочен анализ и персонализиран
                    подход. Моята страст е да открия идеалната стратегия за SEO, Google Ads и дигитален
                    маркетинг, която да трансформира всяка цел в постижим резултат. Работя с отдаденост, за да
                    гарантирам, че вашата марка не просто се забелязва, а остава и запомнена.
                </h5>
                <p class="quoteAuthor">Стефан Бабуков</p>
            </div>
        </div>
    </li>

    <li>
        <div class="personCardHeader petya">

            <img src="/images/petya.png" class="card-img-top" alt="Petya image">
            <div class="shortBio">

                <h3 class="card-title">Петя Бабукова</h3>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Single Page Applications (SPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>

                    Multy Page Applications (MPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Design & QA
                </p>
            </div>
        </div>

        <div class="personCardBody">
            <div class="bio">
                {{!-- <h2 class="bioSubtitle">Моят път до тук</h2> --}}
                {{!-- <p class="bioPContent">
                    Образованието ми започна от любимата ми Софийска Математическа гимназия, минава през Техническия
                    университет в София, надградих и логическите си умения, обличайки ги с технологии в Софтуни.
                    Работила съм като графичен дизайнер на рекламни материали, списания, вестници в България и
                    чужбина и
                    пр., била съм мениджър на рекламна агенция, както и Quality Assurance в софтуерна компания, но
                    истинската ми страст е да създавам красиви и работещи WEB приложения, които да добавят стойност
                    към
                    бизнеса на клиентите ни!
                </p> --}}
            </div>

            <div class="quotes">
                {{!-- <h4><i class="fa-solid fa-quote-left"></i></h4> --}}
                {{!-- <i class="fa-solid fa-quote-left"></i> --}}
                <h5 class="quote">
                    Сърцето ми е в дизайна, умът ми - в кода. Заедно създаваме красота и функционалност във всяко
                    пространство на интернет. Влагам цялата си страст и усилия във всеки проект, за да превърна
                    вашите идеи
                    в реалност.
                </h5>
                <p class="quoteAuthor">Петя Бабукова</p>
            </div>
        </div>
    </li>

</ul>