<div class="ourTeam">
    {{!-- <h1 class="ourTeamHeading">Запознайте се с нашия екип</h1> --}}
    <img src="/images/ourTeamMain.jpg" alt="Image - Our Team Page" srcset="">
    <div class="imageTextsContainer">
        <h2 class="ourTeamSubheading">Заедно постигаме целите</h2>
        
        <h3><i class="fa-thin fa-hashtag"> СъздавамеЗаедно</i></h3>
        <h3><i class="fa-thin fa-hashtag"> ЕстетикаИТехнология</i></h3>
        <h3><i class="fa-thin fa-hashtag"> СтратегическиРешения</i></h3>
        <h3><i class="fa-thin fa-hashtag"> УспехЧрезСътрудничество</i></h3>
    </div>

    <ul class="ourTeamPersonalPageLinks">
        <li><a href="/ourteam/stefan">Запознайте се със Стефан</a></li>
        <li><a href="/ourteam/petya">Запознайте се с Петя new branch</a></li>
    </ul>


</div>