{{>ourTeamBanner}}

<section class="section bioContainer">
    <div class="leftContainer">
        <div class="bioImageWrapper">
            <img src="/images/petya.jpg" alt="Member Petya image" srcset="">
        </div>

        <div class="quotes">
            <h4><i class="fa-solid fa-quote-left"></i></h4>
            {{!-- <i class="fa-solid fa-quote-left"></i> --}}
            <h4>
                Сърцето ми е в дизайна, умът ми - в кода. Заедно създаваме красота и функционалност във всяко
                пространство на интернет. Влагам цялата си страст и усилия във всеки проект, за да превърна вашите идеи
                в реалност.
            </h4>
        </div>
    </div>
    <div class="rightContainer">
        <div class="bioContent">
            <div class="bioContentContainer">
                <h3 class="bioSubtitle">Моят път до тук</h3>
                <p class="bioPContent">
                    Образованието ми започна от любимата ми Софийска Математическа гимназия, минава през Техническия
                    университет в София, надградих и логическите си умения, обличайки ги с технологии в Софтуни.
                    Работила съм като графичен дизайнер на рекламни материали, списания, вестници в България и чужбина и
                    пр., била съм мениджър на рекламна агенция, както и Quality Assurance в софтуерна компания, но
                    истинската ми страст е да създавам красиви и работещи WEB приложения, които да добавят стойност към
                    бизнеса на клиентите ни!
                </p>
            </div>
            <div class="hash">
                <h3> #ОтИдеяДоРеалност</h3>
                <h3>#КрасотаВъвВсекиДетайл</h3>
                <h3>#ПрофесионализъмИСтраст</h3>
            </div>

            <p class="card-text"><i class="fa-solid fa-check"></i>
                    Single Page Applications (SPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>

                    Multy Page Applications (MPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    QA - manual and automation
                </p>
            
        </div>
    </div>
</section>