{{>ourTeamBanner}}

<section class="personPageContainer">
    <div class="personImageContainer">
        <img src="/images/petyaBackgroundCropped.png" alt="" srcset="">
    </div>

    <div class="bioContent">
                <div class="hash">
            <p class="card-text"><i class="fa-solid fa-check"></i>
                    Single Page Applications (SPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>

                    Multy Page Applications (MPA)

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    QA - manual and automation
                </p>
        </div>
        <div class="bio">
            <h2 class="bioSubtitle">Моят път до тук</h2>
            <p class="bioPContent">
                Образованието ми започна от любимата ми Софийска Математическа гимназия, минава през Техническия
                университет в София, надградих и логическите си умения, обличайки ги с технологии в Софтуни.
                Работила съм като графичен дизайнер на рекламни материали, списания, вестници в България и чужбина и
                пр., била съм мениджър на рекламна агенция, както и Quality Assurance в софтуерна компания, но
                истинската ми страст е да създавам красиви и работещи WEB приложения, които да добавят стойност към
                бизнеса на клиентите ни!
            </p>
        </div>

        {{!-- <div class="hash">
            <h5>#ОтИдеяДоРеалност</h5>
            <h5>#КрасотаВъвВсекиДетайл</h5>
            <h5>#ПрофесионализъмИСтраст</h5>
        </div> --}}



        <div class="quotes">
            {{!-- <h4><i class="fa-solid fa-quote-left"></i></h4> --}}
            {{!-- <i class="fa-solid fa-quote-left"></i> --}}
            <h5 class="quote">
                Сърцето ми е в дизайна, умът ми - в кода. Заедно създаваме красота и функционалност във всяко
                пространство на интернет. Влагам цялата си страст и усилия във всеки проект, за да превърна вашите идеи
                в реалност.
            </h5>
            <p class="quoteAuthor">Петя Бабукова</p>
        </div>

    </div>


</section>