{{>ourTeamBanner}}

<section class="personPageContainer">
    <div class="personImageContainer">
        <img src="/images/stefanBackgroundCropped.png" alt="" srcset="">
    </div>

    <div class="bioContent">
                <div class="hash">
            <p class="card-text"><i class="fa-solid fa-check"></i>
                    WordPress with WooCommerce

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>

                     SEO

                </p>
                <p class="card-text"><i class="fa-solid fa-check"></i>
                    Digital Marketing
                </p>
        </div>
        <div class="bio">
            <h2 class="bioSubtitle">Моят път до тук</h2>
            <p class="bioPContent">
                Тръгнах от Техникума по фина механика и оптика, минах през Техническия университет в София, но през повечето от професионалният си опит съм работил в издателския бизнес – вестници, списания, книги и пр. Надградих уменията си в посока WordPress development, SEO оптимизация, Digital Marketing и др. Истинско щастие изпитвам, наблюдавайки растежа на позициите на клиентите ни в интернет пространството в следствие на намесата ми.
            </p>
        </div>

        {{!-- <div class="hash">
            <h5>#ОтИдеяДоРеалност</h5>
            <h5>#КрасотаВъвВсекиДетайл</h5>
            <h5>#ПрофесионализъмИСтраст</h5>
        </div> --}}



        <div class="quotes">
            {{!-- <h4><i class="fa-solid fa-quote-left"></i></h4> --}}
            {{!-- <i class="fa-solid fa-quote-left"></i> --}}
            <h5 class="quote">
                Всеки проект е ново предизвикателство, което изисква задълбочен анализ и персонализиран подход. Моята страст е да открия идеалната стратегия за SEO, Google Ads и дигитален маркетинг, която да трансформира всяка цел в постижим резултат. Работя с отдаденост, за да гарантирам, че вашата марка не просто се забелязва, а остава и запомнена.
            </h5>
            <p class="quoteAuthor">Стефан Бабуков</p>
        </div>

    </div>


</section>