        <fieldset >
            <legend>Create Template</legend>
            <form method="POST">

                <label for="templateImage">Template Image URL</label>
                <input type="text" name="templateImage" id="templateImage" />

                <label for="templateAltAttribute">Alt</label>
                <input type="templateAltAttribute" name="templateAltAttribute" id="templateAltAttribute"  />

                <label for="templateTitle">Template Title</label>
                <input type="templateTitle" name="templateTitle" id="templateTitle"  />

                <label for="templateShortDescription">Template Short Description</label>
                <input type="templateShortDescription" name="templateShortDescription" id="templateShortDescription"  />

                <label for="previewLink">Preview Link</label>
                <input type="previewLink" name="previewLink" id="previewLink"  />

                <button class="additionalStyle">Create Template</button>

            </form>
        </fieldset>