<main>
    <section class="section sectionTemplates">
        {{!-- Card Starts here --}}
        {{#each templates}}
        {{>templatesCard}}
        {{/each}}
        {{!-- Card ends here --}}

        
    </section>

    <section class="section sectionAboutUs">

    </section>
</main>