<main>
    <section class="section sectionTemplates">
        {{#each templates}}
        {{>templatesCard}}
        {{/each}}
    </section>

    <section class="section sectionAboutUs">

    </section>
</main>