    <!-- Starts Main Section -->
    <main>
        <!-- 404 page -->
        <div class="pnf404">
            <img src="/images/404.png" alt="404 not found gif">
        </div>

        <div class="not-found">
            <h2>
                Something broke...
            </h2>

            <!-- Link to Home Page -->
            <a class="goHomeLink" href="/"><h4 class="pnf404 ">Return to Home Page</h4></a>
        </div>

    </main>