<main>
    <fieldset>
        <legend>Свържете се с нас</legend>
        <form id="contactForm" method="POST" action="/contacts">
            <label for="name">Вашето име <span class="redAsterix">*</span></label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email <span class="redAsterix">*</span></label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Телефонен номер (по избор)</label>
            <input type="tel" id="phone" name="phone" placeholder="Optional">

            <label for="message">Вашето съобщение <span class="redAsterix">*</span></label>
            <textarea id="message" name="message" required></textarea>

            <input type="hidden" id="recaptchaResponse" name="recaptchaResponse">
            <button class="additionalStyle" type="submit">Изпрати</button>
        </form>
    </fieldset>
    <script src="/js/recaptcha.js"></script>
</main>