<main>

    <fieldset>
        <legend>Register form</legend>
        <form method="POST" action="/users/register">
            <label for="username">Име</label>
            <input type="text" name="username" id="username" placeholder="Вашето име"/>

            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Въведете валиден e-mail адрес" />

            <label for="contactUsMessage">Текст</label>
            <textarea name="contactUsMessage" id="contactUsMessage" placeholder="Напишете вашето съобщение"></textarea>

            <button class="additionalStyle">Register</button>
        </form>
    </fieldset>

</main>