{{!-- {{>carousel}} --}}


<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Комплексни уеб решения за вашия бизнес</h1>

        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/website_icon.svg" alt="icon website">
                </div>
                <p>
                    <span class="logoInside">Web Creative Team</span> е ваш партньор в създаването и поддържането на уеб
                    сайтове и електронни магазини, предоставяйки персонализирани решения, които отговарят на уникалните
                    изисквания на всеки бизнес.
                    Нашата цел е да разработим функционални и визуално привлекателни
                    уеб платформи, които не само привличат вниманието на потребителите, но и подобряват тяхната
                    интерактивност
                    и удобство на ползване.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/webdesign_icon.svg" alt="icon design">
                </div>

                <p>
                    <span class="logoInside">Web Creative Team</span> предлага и професионални услуги в сферата на
                    графичния
                    дизайн, създавайки въздействащи и креативни решения. Разработваме лога, рекламни материали, графики
                    и др., които подсилват бранда ви и оставят
                    трайно
                    впечатление. Комбинираме иновативни идеи с модерни технологии, за да
                    гарантираме, че
                    всяко дизайнерско решение освен естетически издържано, е и стратегически насочено към
                    подобряване
                    на
                    разпознаваемостта и въздействието на вашата марка.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/seo_icon.svg" alt="icon seo">
                </div>


                <p>
                    <span class="logoInside">Web Creative Team</span> предлага обширни услуги за дигитален маркетинг,
                    включващи
                    SEO оптимизация и
                    ефективни стратегии за реклама в Google. Също така се занимаваме с професионалното изработване на
                    визии
                    за
                    социални медии, които гарантират силно онлайн присъствие и значимо ангажиране на аудиторията. Нашата
                    мисия е
                    да използваме иновациите в дигиталните технологии за да осигурим видимост и прогрес на вашата марка
                    в
                    дигиталния свят.
                </p>
            </div>


        </div>
    </section>


</main>