{{!-- {{>carousel}} --}}


<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Комплексни уеб решения за вашия бизнес</h1>

        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <a class="homePageCardsLinks" href="/services/website">
                    <div class="iconContainer">
                        <img src="/images/website_icon.svg" alt="icon website">
                        <h3 class="servicesTitle">Онлайн присъствие</h3>
                    </div>
                </a>
                    <p> Създаване и поддръжка на уеб сайтове и електронни магазини - персонализирани решения, отговарящи
                        на уникалните изисквания на всеки бизнес. Функционални уеб платформи, отличаващи се с атрактивна
                        визия и отлично потребителско изживяване.
                    </p>
            </div>

            <div class="paragraphWithIcons">
                <a class="homePageCardsLinks" href="/services/design">
                    <div class="iconContainer width">
                        <img src="/images/webdesign_icon.svg" alt="icon design">
                        <h3 class="servicesTitle">Дизайнерски услуги</h3>
                    </div>
                </a>

                    <p>
                        Лого, рекламни материали, графики и др. до цялостна корпоративна визия. Иновативни идеи и
                        модерни технологии, гарантиращи, че всяко естетически издържано дизайнерско решение, работи за
                        подобряване на разпознаваемостта и въздействието на вашия бранд.
                    </p>
            </div>

            <div class="paragraphWithIcons">
                <a class="homePageCardsLinks" href="/services/digitalmarketing">
                    <div class="iconContainer">
                        <img src="/images/seo_icon.svg" alt="icon seo">
                        <h3 class="servicesTitle">Digital Marketing</h3>
                    </div>

                </a>

                    <p>Професионални дигитални маркетинг услуги и SEO оптимизация.
                        Мониторинг и анализ на резултатите, създаване на ефективни стратегии насочени към желани таргет
                        групи. Професионално изработини на визии, гарантиращи силно онлайн присъствие и значимо
                        ангажиране на аудиторията.
                    </p>
            </div>


        </div>
    </section>


</main>