{{!-- {{>carousel}} --}}


<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Комплексни уеб решения за вашия бизнес</h1>

        <div class="threeColumns">

            <a class="homePageCardsLinks paragraphWithIcons" href="/services/website">
                <div class="iconContainer">
                    <img src="/images/website_icon.svg" alt="icon website">
                </div>

                <p> <strong class="paragraphTitle">Онлайн присъствие</strong> <br> Създаване и поддръжка на уеб сайтове
                    и електронни магазини - персонализирани решения, отговарящи на уникалните изисквания на всеки
                    бизнес. Функционални уеб платформи, отличаващи се с атрактивна визия и отлично потребителско
                    изживяване.
                </p>
            </a>

            <a class="homePageCardsLinks paragraphWithIcons" href="/services/design">
                <div class="iconContainer width">
                    <img src="/images/webdesign_icon.svg" alt="icon design">
                </div>

                <p>
                    <strong class="paragraphTitle">Дизайнерски услуги</strong> <br>Лого, рекламни материали, графики и
                    др.
                    до цялостна корпоративна визия. Иновативни идеи и
                    модерни технологии, гарантиращи, че всяко естетически издържано дизайнерско решение, работи за
                    подобряване на разпознаваемостта и въздействието на вашия бранд.
                </p>
            </a>

            <a class="homePageCardsLinks paragraphWithIcons" href="/services/digitalmarketing">
                <div class="iconContainer">
                    <img src="/images/seo_icon.svg" alt="icon seo">
                </div>

                <p><strong class="paragraphTitle">Digital Marketing</strong> <br>Професионални дигитални маркетинг
                    услуги и SEO оптимизация.
                    Мониторинг и анализ на резултатите, създаване на ефективни стратегии насочени към желани таргет
                    групи. Професионално изработини на визии, гарантиращи силно онлайн присъствие и значимо
                    ангажиране на аудиторията.
                </p>
            </a>


        </div>
    </section>


</main>