{{!-- {{>carousel}} --}}


<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Комплексни уеб решения за вашия бизнес</h1>

        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/website_icon.svg" alt="icon website">
                </div>
                <p >
                    <span class="logoInside">Създаване и поддръжка на уеб сайтове и електронни магазини,</span> персонализирани решения, отговарящи на уникалните изисквания на всеки бизнес. Функционални и визуално привлекателни уеб платформи, които привличат вниманието на потребителите и подобряват тяхната интерактивност, но и доставят страхотно потребителско изживяване.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/webdesign_icon.svg" alt="icon design">
                </div>

                <p>
                    <span class="logoInside">Професионални услуги в сферата на графичния дизайн,</span> лого, рекламни материали, графики и др. до цялостна корпоративна визия. Иновативни идеи и модерни технологии, гарантиращи, че всяко естетически издържано дизайнерско решение, работи подобряване на разпознаваемостта и въздействието на вашия бранд.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/seo_icon.svg" alt="icon seo">
                </div>


                <p>
                    <span class="logoInside"> Дигитален маркетинг,</span> SEO оптимизация и ефективни стратегии за реклама в дигиталния свят. Професионално изработини на визии, гарантиращи силно онлайн присъствие и значимо ангажиране на аудиторията. Чрез иновациите в дигиталните технологии осигуряваме видимост и прогрес на вашата марка.
                </p>
            </div>


        </div>
    </section>


</main>