<main>
    <section class="section sectionAboutUs">
        <h1>Цени и пакети </br> за Уеб услуги</h1>
        <p  class="pricessParagraph">
            Разбираме, че всеки проект е уникален и заслужава индивидуално внимание и подход. Затова предлагаме гъвкави
            ценови решения, които да отговарят на нуждите и бюджета ви. </p>
            <p class="pricessParagraph">Примерните оферти, обхващат само част от
            услугите, които предлагаме. Не се колебайте да се свържете с нас за персонализирана оферта, която напълно да
            отговаря на спецификата на вашия проект, а ние ще се погрижим сайтът на вашите мечти да стане реалност.
        </p>
    </section>

    <section class="section sectionPrices">
        <div class="pricesCard allIncluded">
            <div class="serviceIconContainer">
                <img src="/images/wordpress-template.png" alt="wordpress-template">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Всички WordPress сайтове:</h4>
                <div>
                    <p class="card-text"><i class="fa-solid fa-check"></i> са изработени по готов WordPress темплейт</p>
                    <p><i class="fa-solid fa-check"></i> са с дизайн, адаптиран за лаптопи и мобилни устройства</p>
                    <p><i class="fa-solid fa-check"></i> имат SSL сертификат | HTTPS протокол</p>
                    <p><i class="fa-solid fa-check"></i> имат административен панел</p>
                    <p><i class="fa-solid fa-check"></i> включват SEO оптимизация за Google</p>
                    <p><i class="fa-solid fa-check"></i> включват техническа поддръжка за 2 месеца</p>
                </div>
            </div>
        </div>

        <div class="pricesCard">
            <div class="serviceIconContainer">
                <img src="/images/website.png" alt="website">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Информационнен сайт |<br> Блог сайт</h4>

                <div>
                    <h5>Допълнително:</h5>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Частичен редизайн -<br> смяна на текст,
                        изображения, лого</p>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Една езикова версия</p>
                    <p><i class="fa-solid fa-check"></i> До 6 броя страници</p>
                    <p><i class="fa-solid fa-check"></i> Контактна форма</p>
                    <p><i class="fa-solid fa-check"></i> Галерия</p>
                </div>

                <div>
                    <p class="pricesAmount">Цена: 600 лв</p>
                    <h5>Цената не включва абонаменти за хостинг и домейн</h5>

                </div>

            </div>
        </div>

        <div class="pricesCard">
            <div class="serviceIconContainer">
                <img src="/images/online-shop.png" alt="online-shop">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Онлайн магазин</h4>

                <div>
                    <h5>Допълнително:</h5>
                    <p><i class="fa-solid fa-check"></i> Неограничен брой продукти</p>
                    <p><i class="fa-solid fa-check"></i> Промоции</p>
                    <p><i class="fa-solid fa-check"></i> Бутони за харесване и споделяне</p>
                    <p><i class="fa-solid fa-check"></i> Управление на видове плащания и доставки</p>
                </div>

                <div>
                    <p class="pricesAmount">Цена: 900 лв</p>
                    <h5>Цената не включва абонаменти за хостинг и домейн</h5>
                </div>

            </div>
        </div>

        <div class="pricesCard customOffer">
            <div class="serviceIconContainer">
                <img src="/images/web-services.png" alt="web-services">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Други услуги:</h4>

                <div>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Single Page Applications (SPA) - изключителен
                        перформанс и потребителско изживяване</p>
                    <p><i class="fa-solid fa-check"></i> Multy Page Applications (MPA) -<br> по-добри възможности за SEO</p>
                    <p><i class="fa-solid fa-check"></i> Индивидуален или темплейтен дизайн</p>
                </div>

                <p class="pricesLinkToContacts"><a href="/contacts">Поискайте оферта</a></p>
            </div>
        </div>
    </section>

</main>