<main>
    <section class="section sectionAboutUs">
        <h1>Цени и пакети за Уеб услуги</h1>
        <p>В нашата агенция разбираме, че всеки проект е уникален и заслужава индивидуално внимание и подход. Затова
            предлагаме гъвкави ценови решения, които да отговарят на вашите нужди и бюджет. Долу можете да разгледате
            нашите примерни оферти, които обхващат разнообразие от услуги – от създаване на уебсайтове и електронни
            магазини до SEO оптимизация и дигитален маркетинг.</p>
    </section>

    <section class="section sectionPricess">
        <div class="pricesCard">
            <div class="serviceIconContainer">
                <img src="/images/create-template-site-icon.png" alt="...">
            </div>
            <div class="card-body">
                <h4 class="priceCardtitle">Website по готов шаблон</h4>
                <p class="pricesAmount">Цена: 600 лв</p>
                <h5>Цената включва:</h5>
                <p class="card-text"><i class="fa-solid fa-check"></i> Сайт на WordPress</p>
                <p><i class="fa-solid fa-check"></i> Частичен редизайн на избрания дизайн, включваща ваши снимки и лого
                </p>
                <p><i class="fa-solid fa-check"></i> Адаптиран дизайн за лаптопи, таблети и смартфони</p>
                <p class="card-text"><i class="fa-solid fa-check"></i> Бизнес e-mail адрес - например
                    office@вашият-сайт.com</p>
                <p class="card-text"><i class="fa-solid fa-check"></i> Една езикова версия</p>
                <p><i class="fa-solid fa-check"></i> Безплатен SSL сертификат с HTTPS протокол на домейна</p>
                <p><i class="fa-solid fa-check"></i> Административен панел за управление съдържанието в сайта</p>
                <p><i class="fa-solid fa-check"></i> До 7 броя страници, включително Контактна форма за запитвания от
                    сайта</p>
                <p><i class="fa-solid fa-check"></i> Модул галерия за създаване на неограничен брой галерии със снимки в
                    сайта</p>
                <p><i class="fa-solid fa-check"></i> SEO оптимизация за Google</p>
                <p><i class="fa-solid fa-check"></i> Техническа поддръжка на сайта, осигуряваща правилното му и
                    безпроблемно функциониране за 2 месеца</p>
                <h5>Цената не включва:</h5>
                <p class="card-text"><i class="fa-solid fa-check"></i> Абонамент за хостинг и домейн</p>

            </div>
        </div>

        <div class="pricesCard">
            <div class="serviceIconContainer">
                <img src="/images/create-template-site-icon.png" alt="...">
            </div>
            <div class="card-body">
                <h4 class="priceCardtitle">Онлайн магазин по готов шаблон</h4>
                <p class="pricesAmount">Цена: 900 лв</p>
                <h5>Цената включва:</h5>
                <p class="card-text"><i class="fa-solid fa-check"></i> Сайт на WordPress</p>
                <p><i class="fa-solid fa-check"></i> Частичен редизайн на избрания дизайн, включваща ваши снимки и лого
                </p>
                <p><i class="fa-solid fa-check"></i> Адаптивен дизайн за лаптопи, таблети и смартфони</p>
                <p class="card-text"><i class="fa-solid fa-check"></i> Бизнес e-mail адрес - например
                    office@вашият-сайт.com</p>
                <p class="card-text"><i class="fa-solid fa-check"></i> От 1 до 3 езика на магазина – български, руски,
                    английски</p>
                <p><i class="fa-solid fa-check"></i> Безплатен SSL сертификат с HTTPS протокол на домейна</p>
                <p><i class="fa-solid fa-check"></i> Административен панел за управление съдържанието в сайта</p>
                <p><i class="fa-solid fa-check"></i> Неограничен брой продукти, категории и брандове (марки,
                    производители)</p>
                <p><i class="fa-solid fa-check"></i> Промоционални продукти с нова цена и таймер за времето до изтичане
                    на промоцията</p>

                <p><i class="fa-solid fa-check"></i> Контактна форма за запитвания от сайта</p>
                <p><i class="fa-solid fa-check"></i> Управление на видове плащания – Наложен платеж, Плащане по банков
                    път, PayPal</p>
                <p><i class="fa-solid fa-check"></i> Управление на видове доставки – Еконт и Спиди. Фиксирани доставки
                    до офис и до адрес</p>

                <p><i class="fa-solid fa-check"></i> Автоматично известяване по e-mail за направена поръчка, към клиента
                    и администратора</p>
                <p><i class="fa-solid fa-check"></i> Бутони за харесване и споделяне</p>
                <p><i class="fa-solid fa-check"></i> SEO оптимизация за Google</p>
                <h5>Цената не включва:</h5>
                <p class="card-text"><i class="fa-solid fa-check"></i> Абонамент за хостинг и домейн</p>
                <p><i class="fa-solid fa-check"></i> Техническа поддръжка на сайта, осигуряваща правилното му и безпроблемно функциониране за 2 месеца</p>

            </div>
        </div>


</section>

        <section class="section sectionAboutUs">
            <p> Обърнете внимание, че това са само част от възможностите, които предлагаме. Ние сме тук, за да помогнем
                вашата визия да стане реалност, така че не се колебайте да се свържете с нас за персонализирана оферта,
                която напълно да отговаря на спецификата на вашия проект.</p>
        </section>
</main>