<main>
    <section class="section sectionAboutUs">
        <h1>Цени и пакети за Уеб услуги</h1>
        <p>В нашата агенция разбираме, че всеки проект е уникален и заслужава индивидуално внимание и подход. Затова
            предлагаме гъвкави ценови решения, които да отговарят на вашите нужди и бюджет. Долу можете да разгледате
            нашите примерни оферти, които обхващат разнообразие от услуги – от създаване на уебсайтове и електронни
            магазини до SEO оптимизация и дигитален маркетинг.</p>

    </section>

    <section class="section sectionPricess">
        <div class="pricesCard">
            <div class="serviceIconContainer">
                {{!-- Please add new image --}}
                <img src="/images/create-template-site-icon.png" alt="...">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Сайт на WordPress</h4>
                <div>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Готов WordPress темплейт</p>
                    <p><i class="fa-solid fa-check"></i> Дизайн, адаптиран за лаптопи и мобилни устройства</p>
                    <p><i class="fa-solid fa-check"></i> SSL сертификат | HTTPS протокол</p>
                    <p><i class="fa-solid fa-check"></i> Административен панел</p>
                    <p><i class="fa-solid fa-check"></i> SEO оптимизация за Google</p>
                    <p><i class="fa-solid fa-check"></i> Техническа поддръжка за 2 месеца</p>
                </div>

            </div>
        </div>

        <div class="pricesCard">
            <div class="serviceIconContainer">
                {{!-- Please add new image --}}
                <img src="/images/create-template-site-icon.png" alt="...">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Уеб сайт</h4>

                <div>
                    <h5>Допълнително:</h5>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Частичен редизайн - смяна на текст,
                        изображения, лого</p>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Една езикова версия</p>
                    <p><i class="fa-solid fa-check"></i> До 6 броя страници</p>
                    <p><i class="fa-solid fa-check"></i> Контактна форма</p>
                    <p><i class="fa-solid fa-check"></i> Галерия</p>
                </div>

                <div>
                    <p class="pricesAmount">Цена: 600 лв</p>
                    <h5>Цената не включва абонаменти за хостинг и домейн</h5>

                </div>

            </div>
        </div>

        <div class="pricesCard">
            <div class="serviceIconContainer">
                {{!-- Please add new image --}}
                <img src="/images/create-template-site-icon.png" alt="...">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Онлайн магазин</h4>

                <div>
                    <h5>Допълнително:</h5>
                    <p><i class="fa-solid fa-check"></i> Неограничен брой продукти</p>
                    <p><i class="fa-solid fa-check"></i> Промоции</p>
                    <p><i class="fa-solid fa-check"></i> Бутони за харесване и споделяне</p>
                    <p><i class="fa-solid fa-check"></i> Управление на видове плащания и доставки</p>
                </div>

                <div>
                    <p class="pricesAmount">Цена: 900 лв</p>
                    <h5>Цената не включва абонаменти за хостинг и домейн</h5>
                </div>

            </div>
        </div>

        <div class="pricesCard">
            <div class="serviceIconContainer">
                {{!-- Please add new image --}}
                <img src="/images/create-template-site-icon.png" alt="...">
            </div>
            <div class="card-body priceCardCustomStyle">
                <h4>Други услуги:</h4>

                <div>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Single Page Applications (SPA) - изключителен
                        перформанс и потребителско изживяване</p>
                    <p><i class="fa-solid fa-check"></i> Multy Page Applications (MPA) - по-добри възможности за SEO</p>
                    <p><i class="fa-solid fa-check"></i> Индивидуален или темплейтен дизайн</p>
                </div>

                <p class="pricesLinkToContacts"><a href="/contacts">Поискайте оферта</a></p>

                {{!-- <div>
                    <h5>Цената не включва:</h5>
                    <p class="card-text"><i class="fa-solid fa-check"></i> Абонаменти за хостинг и домейн</p>
                </div> --}}

            </div>
        </div>
    </section>

    <section class="section sectionAboutUs">
        <p> Това са само част от възможностите, които предлагаме. Ние сме тук, за да помогнем
            вашата визия да стане реалност, така че не се колебайте да се свържете с нас за персонализирана оферта,
            която напълно да отговаря на спецификата на вашия проект.</p>
    </section>
</main>