<main>
    <section class="section sectionAboutUs sectionPrices">
        <h1>Цени и пакети за Уеб услуги</h1>
        <p class="digitalMarketingintroducingParagraph">
            Всеки проект е уникален и заслужава индивидуално внимание и подход. Затова предлагаме гъвкави ценови
            решения, които да отговарят на нуждите и бюджета ви. Не се колебайте да се свържете с нас за персонализирана
            оферта, която напълно да отговаря на спецификата на вашия проект, а ние ще се погрижим сайтът на вашите
            мечти да стане реалност. Възможностите са безкрайни, но ето някои от опциите, които предлагаме:

        </p>
        <section class="threeColumns pricesContainer">

            {{!-- УWordPress Site --}}
            <div class="paragraphWithIcons prices">
                <div class="iconContainer">
                    <img src="/images/WordPressSite_icon.svg" alt="icon WP site">
                </div>

                <p>
                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside prices">Сайт по готов </br> WordPress темплейт </span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Адаптиран дизайн за лаптопи и мобилни устройства
                        </div>

                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            SSL сертификат | HTTPS протокол
                        </div>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Административен панел
                        </div>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            SEO оптимизация за Google
                        </div>

                    </li>

                    <li>
                        <p class="pricesAmount">
                            Цени: от 550 лв.
                            <a class="mobile askForOfferBtn" href="/contacts">Поискайте оферта</a>

                        </p>
                    </li>
                </ul>
                </p>
            </div>

            {{!-- WordPress on-line shop --}}
            <div class="paragraphWithIcons prices">
                <div class="iconContainer">
                    <img src="/images/wordPressShop_icon.svg" alt="icon WP shop">
                </div>

                <p>
                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside prices">Магазин по готов </br> WordPress темплейт</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Неограничен брой продукти
                        </div>

                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Промоции
                        </div>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Бутони за харесване и споделяне
                        </div>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Управление на видове плащания и доставки
                        </div>

                    </li>
                    <li>
                        <p class="pricesAmount">
                            Цени: от 850 лв.
                            <a class="mobile askForOfferBtn" href="/contacts">Поискайте оферта</a>

                        </p>
                    </li>
                </ul>
                </p>
            </div>

            {{!-- Custom Site --}}
            <div class="paragraphWithIcons prices">
                <div class="iconContainer">
                    <img src="/images/customeSite_icon.svg" alt="icon custom site">
                </div>

                <p>
                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside prices">Сайт / магазин по</br>персонализиран проект</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Single Page Applications (SPA) 
                        </div>

                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Multy Page Applications (MPA) 
                        </div>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Индивидуален или темплейтен дизайн
                        </div>
                    </li>

                    <li>
                        <p class="pricesAmount">
                            Цени: от 1000 лв.
                            
                        </p>
                    </li>
                </ul>
                </p>
            </div>

            {{!-- Digital Marketing --}}
            <div class="paragraphWithIcons prices">
                <div class="iconContainer">
                    <img src="/images/emailMarketing_icon.svg" alt="icon custom site">
                </div>

                <p>
                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside prices">Дигитален маркетинг</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Search Engine Optimisation (SEO)
                        </div>

                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Google Ads & Google Analytics
                        </div>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Реклама във Facebook
                        </div>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Email Marketing
                        </div>
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            Абонаментни планове
                        </div>
                    </li>

                    <li>
                        <p class="pricesAmount">
                            Цени: от 200 лв./месец
                            <a class="askForOfferBtn mobile " href="/contacts">Поискайте оферта</a>
                        </p>
                    </li>
                </ul>
                </p>
            </div>
        </section>
            <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>


    </section>




</main>