.asideLayout {
    display: flex;
    padding: 0 4em;
    margin-top: 4em;
    gap: 5em;
}

.withAside {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex: 1 0 70%;
    padding-right: 2em;
}

.withAside h1 {
    flex: 1 1 100%;
    text-align: center;
}


.withAside p {
    max-width: 100%;
}

.blogAside {
    /* padding-right: 4em; */
    padding-right: 0;
    flex: 0 1 35%;
}

.asideList {
    display: flex;
    flex-direction: column;
}

.asideArticleListItem{
    display: flex;
    flex-flow: row;
    list-style: none;
    gap: 1em;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #1A6B41;

}

.articleHeading{
    font-size: 3em;
}

.asideListArticleTitle{
    flex: 0 1 70%;
    /* width: 65%; */
}

.articleContent p{
    margin-bottom: 0.3em;
}

.aricleThumbnailImageContainer{
    /* width: 130px;
    height: 75px; */
    
    flex: 1 0 30%;
}


.asideList a {
    text-decoration: none;
    color: #1A6B41;
    font-weight: bold;
}

.asideList a:hover {
    color: #EF7F19;
    font-weight: bold;
}

.asideArticleListItem {}

@media (max-width: 768px) {
    .asideLayout {
        flex-direction: column;
        padding: 0 2em;
        margin-top: 2.5em;
    }

    .blogAside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em
    }

    .withAside{
        width: 100%;
    }

    /* Hero Banner Adjustments */
    .articleImage {
        height: 25vh; /* 25% от височината на екрана */
        overflow: hidden;
        position: relative;
        margin-top: 0;
    }

    .articleImage img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* Adjustments for main content */

    .articleHeading {
        font-size: 2rem;
        text-align: center;
    }

    .articleContent p {
        font-size: 1em;
        line-height: 1.4em;
    }
}