button.additionalStyle,
input.additionalStyle {
    align-self: end;
    padding: 0.3em 0.5em;
    max-width: 50%;
    border: none;
    border-radius: 5px;
    background: #1A6B41;
    color: #EF7F19;
    font-weight: bold;
}

button.additionalStyle:hover,
input.additionalStyle:hover {
    background: #EF7F19;
    color: #1A6B41;
}

.editBtn,
.deleteBtn {
    min-width: 30%;
}

.additionalStyle.cancel,
a.additionalStyle.cancel {
    background: #EF7F19;
    color: #1A6B41;
    display: flex;
    text-decoration: none;
    padding: 0 0.5em;
    border-radius: 0.3em;
    align-content: center;
    /* justify-content: center; */
    align-items: center;
}

.additionalStyle.cancel:hover,
a.additionalStyle.cancel:hover {
    background: #1A6B41;
    color: #EF7F19;
}

.editCancelBtnContainer {
    display: flex;
    gap: 0.5em;
    justify-content: end;
}


form {
    font-weight: bold;
    color: #1A6B41;
    display: flex;
    flex-direction: column;
    width: 100%
}

fieldset {
    max-width: 40%;
    margin: 2em auto;
    padding: 0 2em 2em 2em;
    border: 1px solid #1A6B41;
    border-radius: 5px;
}

legend {
    padding: 0 1em;
    font-weight: bold;
    font-size: 2rem;
    color: #1A6B41;
}


form label {
    margin-top: 1em;
    font-weight: bold;
}

textarea,
input {
    padding: 0.5em;
    font-weight: normal;
}

.inputRequirements {
    color: #aaa;
    font-size: 0.8em;
    font-weight: normal;
}

.inputRequirements.red {
    color: red;
    background: none;
}

#message{
    margin-bottom: 1em;
}

@media (max-width: 900px) {
    fieldset {
        max-width: 90%;
    }
}