.personPageContainer {
    padding-right: 4em;
    display: flex;
    gap: 4em;
    margin-bottom: 4em;
}

.personImageContainer {
    min-width: 35%;
}

.bioContent {
    display: flex;
    gap: 2em;
    flex-direction: column;
    gap: 7em;
}

.bioContent p,
.bioContent h4 {
    margin-bottom: 0;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.hash {
    /* color: #EF7F19; */
    color: #1A6B41;
}

.quotes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
    font-style: italic;
    margin-left: 15em;
    padding-left: 1em;
}

.fa-solid.fa-quote-left {
    font-size: 4em;
}

.quote {
    max-width: 100%;
}

.quoteAuthor {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 0;
    color: #EF7F19;
}



@media (max-width:600px) {

    .personPageContainer {
        flex-direction: column;
        margin: 0 auto;
        padding: 0 1em;
    }

    .hash {
        flex-direction: column;
    }

    .quotes,
    .quote {
        max-width: 100%;
    }
}