.ourTeam {
    display: flex;
    /* flex-direction: column; */
    /* background-image: url('/images/aboutUsBannerMain_noOpacity.png');
    background-repeat: no-repeat; */
    /* justify-content: end;
    align-items: start; */
    /* padding: 3em; */
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 0;
    max-width: 100%;
    /* min-height: 600px; */
    margin: 3rem 0;
    overflow-x: hidden;
}

.mobileViewBanner {
    display: none;
}

.ourTeamContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.desktopViewBanner {
    flex: 1 0 75%;
}

.ourTeam h2 {
    /* max-width: 16ch; */
    margin-bottom: 4rem;
}

.ourTeam h2:first-child {
    font-size: 8em;
    margin-bottom: 0;
}

.ourTeamPersonalPageLinks {
    list-style: none;
    display: flex;
    margin: 4em 0;
    display: flex;
    gap: 8em;
    padding-left: 0;
}

.ourTeamPersonalPageLinks li{
    flex: 1 1 50%;
    /* justify-content: space-between; */
}

.petya{
    flex-direction: row-reverse;
}

.ourTeamPersonalPageLinks p {
    color: #1A6B41;
}

.card-img-top {
    max-width: 60%;
    display: block;
    height: auto;
}

.ourTeamPersonalPageLinks h3 {
    color: #EF7F19;
}

.ourTeamPersonalPageLinks .btn-primary {
    background: #1A6B41;
    color: #EF7F19;
    font-weight: bold;

    border: none;
    display: block;
    justify-content: flex-end;
}

.ourTeamPersonalPageLinks .btn-primary:hover {
    background: #EF7F19;
    color: #1A6B41;
}

.card {
    display: flex;
    max-width: 40%;
}

.personCardHeader {
    display: flex;
    margin-bottom: 1em;
}

.shortBio {
    min-width: 45%;
    padding: 2em;
}

.shortBio h3 {
    margin-bottom: 1em;
}

.personCardBody {
    /* padding: 2em; */
    /* margin-top: 1.5em; */
}



@media (max-width: 992px) {
    .mobileViewBanner {
        display: block;
        margin-top: 0;
    }

    .desktopViewBanner {
        display: none;
    }

    .ourTeam {
        background-image: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .ourTeamContent{
        padding: 2em;
    }

    .ourTeamPersonalPageLinks {
        padding: 1em;
        gap: 4em;
        flex-direction: column;

    }

    .ourTeamPersonalPageLinks .card {
        min-width: 100%;
    }

    .card-img-top{
        max-width: 60%;
    }

    .ourTeamSubheading{
        font-size: 2em;
    }


}