.bioContainer {
    display: flex;
    max-width: 1800px;
    margin: 2em auto;
    padding: 0 5em;
    /* border: 1px solid black; */
}

.leftContainer {
    /* min-width: 250px; */
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
}

.bioImageWrapper{
    overflow: hidden;
    max-height: 550px;
}

.quotes{
    display: flex;
    gap: 1.5em;
    padding: 2em;
    padding-left: 0;
}

.quotes i{
    font-size: 4em;
}

.rightContainer {
    flex: 0 1 65%;
    display: flex;
    flex-flow: row wrap;
}

.bioHeader {
    width: 100%;
    display: flex;
    /* align-items: center; */
}

.coloredHeaderPart {
    flex: 0 1 65%;
    /* background: #9CB278; */
    background: #47CEED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coloredHeaderPart h2 {
    color: #77a4e4;
    margin: 0;
}

.logoBio {
    flex: 1 0 30%;
    padding: 1.5em;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;


}

.bioContent {
    display: flex;

    flex-flow: row wrap;
}

.bioContentContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    padding-right: 0;
}

.bioSubtitle {
    /* flex: 1 0 8ch; */
    width: 8ch;
    font-size: 4em;
}

.bioPContent {
    flex: 0 1 65%;
}

.hash {
    width: 100%;
    display: flex;
    gap: 3em;
    padding: 3em;
}

.hash i {
    display: inline;
}

.hash h3 {
    display: inline;

}

.bioContentTitle {
    background: #eee;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}