

.ourTeam {
    display: flex;
    /* flex-direction: column; */
    /* background-image: url('/images/aboutUsBannerMain_noOpacity.png');
    background-repeat: no-repeat; */
    /* justify-content: end;
    align-items: start; */
    padding: 3em;
    padding-top: 2em;
    max-width: 100%;
    /* min-height: 600px; */
    margin-bottom: 3em;
    overflow-x: hidden;
}

.mobileViewBanner{
    display: none;
}

.ourTeamContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.desktopViewBanner{
    flex: 1 0 75%;
}

.ourTeam h2 {
    /* max-width: 16ch; */
    margin-bottom: 4rem;
}

.ourTeam h2:first-child {
    font-size: 8em;
    margin-bottom: 0;
}

.ourTeamPersonalPageLinks {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
    padding: 0 10em;
}

.ourTeamPersonalPageLinks p {
    color: #EF7F19;
}

.ourTeamPersonalPageLinks .card {
    border: 1px solid #1A6B41;
    max-width: 18rem;
}

.ourTeamPersonalPageLinks h3 {
    color: #EF7F19;
}

.ourTeamPersonalPageLinks .btn-primary {
    background: #1A6B41;
    color: #EF7F19;
    font-weight: bold;

    border: none;
    display: block;
    justify-content: flex-end;
}

.ourTeamPersonalPageLinks .btn-primary:hover {
    background: #EF7F19;
    color: #1A6B41;
}

@media (max-width: 600px){
    .mobileViewBanner{
        display: block;
    }

    .desktopViewBanner{
    display: none;
    }

    .ourTeam{
        background-image: none;
        flex-direction: column;
    }

    .ourTeamPersonalPageLinks{
        padding: 1em;
        gap: 4em;
        flex-direction: column;

    }

    .ourTeamPersonalPageLinks .card {
        min-width:  100%;
    }


}