.ourTeam {
    display: flex;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 0;
    max-width: 100%;
    margin:  0;
    overflow-x: hidden;
}

/* banner styles */
.ourTeamContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.desktopViewBanner {
    flex: 1 0 75%;
}

.ourTeamHeading {
    font-size: 8em;
    margin-bottom: 0;
}

/* Person cards styles */

.ourTeamPersonalPageLinks {
    list-style: none;
    margin: 2em 0;
    display: flex;
    gap: 15em;
    padding-left: 0;
}

.ourTeamPersonalPageLinks li{
    flex: 1 1 50%;
    display: flex;
    font-display: column;
}

.personCardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1em;
}

.ourTeamPersonImageContainer{
    flex: 0 1 50%;
}

.shortBio h3, .shortBio p {
    color: #EF7F19;
}

.shortBio h3{
    margin-bottom: 0.5em;
}

.quote, .quoteAuthor{
    font-style: italic;
    color: #1A6B41;
}

.quoteAuthor{
text-align: right;
}






@media (max-width: 900px) {
    .mobileViewBanner {
        display: block;
        margin-top: 0;
    }

    .desktopViewBanner {
        display: none;
    }

    .ourTeam {
        background-image: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .ourTeamContent {
        padding: 2em;
        background-color: #eee;
    }

    .ourTeamHeading {
        font-size: 4.5em;
    }
    .ourTeamSubheading {
        font-size: 2em;
    }
    .ourTeamHashtag{
        font-size: 1.5em;
        align-self: end;
    }

    .ourTeamPersonalPageLinks {
        gap: 0;
        flex-direction: column;
        padding: 2em;
        margin: 0;
    }

    .personCardHeader{
        flex-direction: row;
        gap: 1em;
    }

    .ourTeamPersonImageContainer{
        margin: 1em 0;
        overflow: hidden;
        flex: 0 1 60%;

    }

    .quotes{
        font-size: 1.2em;
    }



}