.pricesContainer{
padding: 0 5em;
display: flex;
gap: 4em;
}

p.pricesAmount {
    margin-bottom: 1em;
    text-align: right;
    color: #1A6B41;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.pricesAmount a{
    display: block;
    align-self: flex-end;
    margin-top: 2em;
}

.paragraphWithIcons.prices{
    display: flex;
    flex-direction: column;
}

.logoInside.prices{
    display: block;
    align-self: center;
    text-align: center;
    margin-bottom: 1em;

}

.digitalMarketingOptions{
    min-height: 65%;
    display: flex;
    justify-content: space-around;
}



.askForOfferBtn{
    text-decoration: none;
    margin-top: 2em;
    align-self: center;
    text-align: center;
    padding: 0.3em 0.5em;
    width: 60%;
    border: none;
    border-radius: 5px;
    background: #FFC68D;
    color:#1A6B41;
    font-weight: bold;
}

.askForOfferBtn:hover{
    /* background: #EF7F19;
    color: #1A6B41; */

    background: #96B575;
    color:#FFC68D;
}

.customOffer{
    background: #EF7F19;
    border-color: #EF7F19;
}

.customOffer h4{
    color: #1A6B41;
}

@media (max-width: 600px){
    .section.sectionPricess{
        flex-direction: column;
        padding: 2em;
    }

    .pricesCard h4{
        font-size: 2.5em;
    }

    .pricesCard h5 {
       font-size: 1.5em;
       font-weight: bold;
    }

    .pricesCard p{
        font-size: 2em;
    }

    .threeColumns.pricesContainer{
        padding: 0 1em
    }

    .pricesAmount a{
        margin-top: 1em;
    }
}
