        <fieldset >
            <legend>Create Article</legend>
            <form method="POST">
                <label for="articleTitle">Title</label>
                <input type="articleTitle" name="articleTitle" id="articleTitle"  />
                <label for="articleTitle">Image URL</label>
                <input type="articleImage" name="articleImage" id="articleImage"  />
                <label for="articleImage">Content</label>
                <textarea name="articleContent" id="articleContent" placeholder="Write here the Article content"></textarea>
                <button class="additionalStyle">Create Article</button>
            </form>
        </fieldset>