 <fieldset >
            <legend>Edit Article</legend>
            <form method="POST">
                <label for="articleTitle">Title</label>
                <input type="articleTitle" name="articleTitle" id="articleTitle"  value="{{articleTitle}}"/>
                <label for="articleTitle">Image URL</label>
                <input type="articleImage" name="articleImage" id="articleImage" value="{{articleImage}}"  />
                <label for="articleImage">Content</label>
                <textarea name="articleContent" id="articleContent" placeholder="Write here the Article content">{{articleContent}}</textarea>
                <button class="additionalStyle">Edit Article</button>
            </form>
        </fieldset>