<div class="ourTeam">
    <div class="mobileViewBanner">
        <img src="/images/aboutUsBannerMain_mobile.png" alt="" srcset="">
    </div>


    <div class="ourTeamContent">
        <h2 class="ourTeamSubheading">ЗАЕДНО</h2>
        <h2 class="ourTeamSubheading">да постигнем целите</h2>
        {{!-- <h3><i class="fa-thin fa-hashtag"> СъздавамеЗаедно</i></h3> --}}
        <h3><i class="fa-thin fa-hashtag"> ЕстетикаИТехнология</i></h3>
        <h3><i class="fa-thin fa-hashtag"> СтратегическиРешения</i></h3>
        <h3><i class="fa-thin fa-hashtag"> УспехЧрезСътрудничество</i></h3>
    </div>
    <div class="desktopViewBanner">
        <img src="/images/aboutUsBannerMain_cropped.png" alt="" srcset="">
    </div>
</div>