<div class="templatesCard">
    <a class="templatesLink" href="">
        <div class="templateIconContainer">
            <img src="{{templateImage}}" alt={{templateAltAttribute}}>
        </div>
        <div class="card-body priceCardCustomStyle">
            <h4>{{templateTitle}}</h4>
            <p>{{templateShortDescription}}</p>

        </div>
    </a>
</div>