        <fieldset >
            <legend>Create Banner</legend>
            <form method="POST">
                <label for="bannerImage">Banner Image URL</label>
                <input type="text" name="bannerImage" id="bannerImage" />
                <label for="bannerTitle">Banner Title</label>
                <input type="bannerTitle" name="bannerTitle" id="bannerTitle"  />
                <label for="bannerSubtitle">Banner Subtitle</label>
                <input type="bannerSubtitle" name="bannerSubtitle" id="bannerSubtitle"  />
                <button class="additionalStyle" >Create Banner</button>
            </form>
        </fieldset>