<main>

<fieldset>
    <legend>Create Banner</legend>

    {{#if error}}
    <div class="messageContainer red">
        <p class="messageText">{{error}}</p>
    </div>
    {{/if}}

    <form id="createBannerForm" method="POST">
        <label for="bannerImage">Banner Image URL<span class="redAsterix">*</span></label>
        <input type="text" name="bannerImage" id="bannerImage" value="{{bannerImage}}"/>
        <p class="inputRequirements {{#if errors.bannerImage}}red{{/if}}">Изображение</p>

        <label for="bannerTitle">Banner Title<span class="redAsterix">*</span></label>
        <input type="text" name="bannerTitle" id="bannerTitle" value="{{bannerTitle}}"/>
        <p class="inputRequirements {{#if errors.bannerTitle}}red{{/if}}">Основно заглавие</p>

        <label for="bannerSubtitle">Banner Subtitle<span class="redAsterix">*</span></label>
        <input type="text" name="bannerSubtitle" id="bannerSubtitle" value="{{bannerSubtitle}}"/>
        <p class="inputRequirements {{#if errors.bannerSubtitle}}red{{/if}}">Подзаглавие</p>

        <button class="additionalStyle">Create Banner</button>
    </form>
</fieldset>
</main>