<main class="noAside">
    <fieldset>
        <legend>Edit Banner</legend>
    <form method="post" enctype="multipart/form-data">
        <div style="max-width: 500px;"><img src="{{this.bannerImage}}" alt="Current Image"></div>
        <label for="bannerImage">Upload New Image (Optional)</label>
        <input type="file" name="bannerImage" id="bannerImage">

        <label for="bannerTitle">Edit Title</label>
        <input type="text" name="bannerTitle" id="bannerTitle" value="{{this.bannerTitle}}">

        <label for="bannerSubtitle">Edit Subtitle</label>
        <input type="text" name="bannerSubtitle" id="bannerSubtitle" value="{{this.bannerSubtitle}}">
        
        <input type="submit" value="Save Changes">
    </form>
    </fieldset>
</main>