<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="./assets/images/FaviIcon.jpg" />
    <link rel="stylesheet" href="/assets/styles/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Web Creative Team</title>
</head>

<body>
    <div class="siteContainer">
        <header class="siteHeader">
            <a href="/" class="headerLeft">
                <img src="./assets/images/WebCreativeTeam.com-logo.png" alt="Design Creative Team" srcset="">
            </a>
            <nav class="mainNav">
                <ul class="headerNav">
                    <li><a href="#">Начало</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Цени</a></li>
                    <li><a href="#">Tемплейти</a></li>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </nav>

        </header>

        <div class="banner">
            <h1><span>Уеб сайтове,</span> които преобразяват</h1>
        </div>

        <main class="noAside">
            <section class="section sectionAboutUs">
                <h2>Защо ние?</h2>
                <p>Web Creative Team е ваш партньор в създаването и поддържането на уеб сайтове и електронни магазини, предоставяйки персонализирани решения, които отговарят на уникалните нужди и изисквания на всеки бизнес. Нашата цел е да разработим функционални и визуално привлекателни уеб платформи, които не само привличат вниманието на потребителите, но и подобряват тяхната интерактивност и удобство на ползване.</p>

                   <p> В допълнение, Web Creative Team предлага обширни услуги за дигитален маркетинг, включващи SEO оптимизация и ефективни стратегии за реклама в Google. Също така се занимаваме с професионалното изработване на визии за социални медии, които гарантират силно онлайн присъствие и значимо ангажиране на аудиторията. Нашата мисия е да използваме иновациите в дигиталните технологии за да осигурим видимост и прогрес на вашата марка в дигиталния свят.</p>
            </section>
            
            <section class="section sectionServices">
                <h2 class="sectionHeading">Нашите услуги</h2>
                <a href="#" class="articleServices">
                    <h3>Уебсайтове и електронни магазини</h3>
                    <div class="imageContainer">
                        <img src="./assets/images/css-javascript-html-usage-monitor-closeup-function-source-code-abstract-it-technology-background-software-source-code.jpg"
                            alt="" srcset="">
                    </div>
                </a>

                <a href="#" class="articleServices">
                    <h3>SEO & Google Ads</h3>
                    <div class="imageContainer">
                        <img src="./assets/images/seo-image-new-2023.jpg" alt="" srcset="">
                    </div>
                </a>

                <a href="#" class="articleServices">
                    <h3>Социални медии & Дигитален маркетинг</h3>
                    <div class="imageContainer">
                        <img src="./assets/images/social-media-template-brand-spotlights.jpg" alt="" srcset="">
                    </div>
                </a>

                <a href="#" class="articleServices">
                    <h3>Дизайнерски услуги</h3>
                    <div class="imageContainer">
                        <img src="./assets/images/colorful-neon-idea-light-bulb-colorful-exploding-glowing-illustrations-ai-generated-art.jpg"
                            alt="" srcset="">
                    </div>
                </a>
            </section>

            <section class="sectionTeam">
                <div class="teamMember">
                    <img src="" alt="" srcset="">
                    <h6>Petya</h6>
                </div>
                <div class="teamMember">
                    <img src="" alt="" srcset="">
                    <h6>Stefan</h6>
                </div>
            </section>
        </main>

        <footer>
            <article class="footerArticle">
                <p><i class="fa-solid fa-phone"></i> 0887 454 509</p>
                <p><i class="fa-solid fa-phone"></i> 0889 912 671</p>
                <p><i class="fa-solid fa-envelope"></i> info@webcreativeteam.com</p>
            </article>

            <article class="footerArticle">
                <ul class="footerNav">
                        <!-- <li><a href="#">Начало</a></li> -->
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Цени</a></li>
                        <!-- <li><a href="#">Tемпллейти</a></li> -->
                        <!-- <li><a href="#">За нас</a></li> -->
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">Блог</a></li>
                </ul>
            </article>

            <article class="footerArticle">
                <p>&copy; All rights reserved 2024</p>
            </article>
        </footer>
    </div>

</body>

</html>