{{>carousel}}


<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Иновативни дизайнерски решения</h1>

        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/branding_icon.svg" alt="icon branding">
                </div>

                <p>
                    <strong class="paragraphTitle">Бранд дизайн</strong> <br>
                    Създаване на цялостна концепция за реклама в интернет пространството и извън него.
                    Индивидуална стратегия за изграждане или преосмисляне на вашия бранд, която включва
                    лого дизайн, избор на фирмени цветове и шрифтове, създаване на рекламни материали и др.

                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/webdesign_icon.svg" alt="icon design">
                </div>

                <p>
                    <strong class="paragraphTitle">UI/UX дизайн</strong> <br>
                    Сайтовете, приятни за окото и удобни за работа. Напълно са адаптирани и за различни устройства - телефон, таблет, компютър.
                    Безкомпромисни сме към доброто потребителско изживяване, което не само привлича посетители, но и ги превръща в клиенти.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/graphic_design_icon.svg" class="highIcon" alt="icon graphicDesign">

                </div>
                <p>
                    <strong class="paragraphTitle">Графичен дизайн</strong> <br>
                    Впечатляващи визии, представящи вашата корпоративна идентичност по най-добрия начин, популяризиращи вашата марка, правейки я разпознаваема и запомняща се. Онлайн присъствие, подсилено от силен визуален стил, който ангажира и вдъхновява.


                    
                </p>
            </div>



        </div>
    </section>
    <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>
    <a class="askForOfferBtn mobile" href="/contacts">Поискайте оферта</a>


</main>