{{>carousel}}


<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Работещи иновативни </br>дизайнерски решения</h1>

        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/branding_icon.svg" alt="icon branding">
                </div>

                <p>
                    <span class="logoInside">Брандиране: </span>
                    Можем да създадем цялостна концепция за реклама както в интернет пространството, така и извън него.
                    Ще ви предложим индивидуална стратегия за изграждане или преосмисляне на вашия бранд, която включва
                    лого дизайн, избор на фирмени цветове и шрифтове, и създаване на рекламни материали,
                    брандиране на офиси и търговски помещения и др.

                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/webdesign_icon.svg" alt="icon design">
                </div>

                <p>
                    <span class="logoInside">Уеб дизайн: </span>
                    Сайтовете които правим са приятни за окото и удобни за работа. Напълно са
                    адаптирани и за различни устройства - телефон, таблет, компютър.
                    Безкомпромисни сме към доброто потребителско изживяване,
                    което не само привлича посетители, но и ги превръща в клиенти.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/graphic_design_icon.svg" class="highIcon" alt="icon graphicDesign">
                </div>

                <p>
                    <span class="logoInside">Графичен дизайн: </span>
                    Нашият екип от може да създаде впечатляващи визии, с които да предствят вашата
                    корпоративна идентичност,
                    да популяризират вашата марка, да я направят разпознаваема и запомняща се.
                    </br>От лого, брошури, визитки и каталози до цялостна визия за представянето ви пред клиентите и
                    партньорите ви.
                </p>
            </div>



        </div>
    </section>
</main>