{{>carousel}}


<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Иновативни дизайнерски решения</h1>

        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/branding_icon.svg" alt="icon branding">
                </div>

                    <h3 style="text-align: center;">Бранд дизайн 
                        {{!-- <i class="fa-solid fa-caret-down"></i> --}}
                    </h3>
                <p>
                    Създаване на цялостна концепция за реклама както в интернет пространството, така и извън него.
                    Индивидуална стратегия за изграждане или преосмисляне на вашия бранд, която включва
                    лого дизайн, избор на фирмени цветове и шрифтове, и създаване на рекламни материали,
                    брандиране на офиси и търговски помещения и др.

                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/webdesign_icon.svg" alt="icon design">
                </div>

                    <h3 style="text-align: center;">UI/UX дизайн 
                        {{!-- <i class="fa-solid fa-caret-down"></i> --}}
                    </h3>
                <p>
                    Сайтовете, приятни за окото и удобни за работа. Напълно са адаптирани и за различни устройства - телефон, таблет, компютър.
                    Безкомпромисни сме към доброто потребителско изживяване, което не само привлича посетители, но и ги превръща в клиенти.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer width">
                    <img src="/images/graphic_design_icon.svg" class="highIcon" alt="icon graphicDesign">

                </div>
                    <h3 style="text-align: center;">Графичен дизайн 
                        {{!-- <i class="fa-solid fa-caret-down"></i> --}}
                    </h3>
                <p>
                    Впечатляващи визии, представящи вашатакорпоративна идентичност,
                    популяризиращи вашата марка, правейки я разпознаваема и запомняща се.
                    
                </p>
            </div>



        </div>
    </section>
    <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>
    <a class="askForOfferBtn mobile" href="/contacts">Поискайте оферта</a>


</main>