{{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs sectionDigitalMarketing">
        <h1 class="servicesHeading">Дигитален маркетинг</h1>
        <p class="digitalMarketingintroducingParagraph">Дигиталният маркетинг е съвкупност от стратегии и техники,
            използвани за промотиране на продукти,
            услуги или марки чрез дигитални канали. С нарастването на интернет използването и развитието на
            технологиите, дигиталният маркетинг се превърна в основен инструмент за бизнеса, който позволява постигане
            на глобална аудитория, измерване на резултатите и оптимизация на кампаниите в реално време.</p>
        <div class="threeColumns">

            {{!-- SEO text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/seo_icon.svg" alt="icon seo">
                </div>

                {{!-- <p> --}}
                <ul class="digitalMarketingOptions ">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Search Engine Optimisation (SEO)</span>
                    </li>
                    <li class="digitalMarketingOption ">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Техническа оптимизация</strong>
                        </div>
                        Одит на сайта, скорост на перформанса, адаптиране на дизайна за различни</br> устройства,
                        оптимизация и
                        структура на съдържанието.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Ключови думи </strong>
                        </div>
                        Подбор и внедряване на ключови думи, които потребителите търсят.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Link building</strong>
                        </div>
                        Интегриране на линкове от авторитетни сайтове.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Оптимизация</strong>
                        </div>
                        на готови страници и създаване на нови, SEO-ориентирани материали.
                    </li>
                </ul>
                {{!-- </p> --}}
            </div>

            {{!-- Google Ads & Google Analytics text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/googleAds_icon.svg" alt="icon Google Ads">
                </div>
                {{!-- <p> --}}

                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Google Ads & Google Analytics</span>
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Таргетиране на аудитория</strong>
                        </div>
                        Детайлни анализи, за определяне на ключови думи, локации и демографски групи.
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Search Ads</strong>
                        </div>
                        таргетиране на клиентите в интернет.
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Display Network</strong>
                        </div>
                        публикуване на банери в сайтове партньори на Google.
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">YouTube</strong>
                        </div>
                        Публикуване на рекламни клипове
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Ремаркетинг</strong>
                        </div>
                        оптимизация и мониторинг на резултатите.
                    </li>
                </ul>
                {{!-- </p> --}}

            </div>

            {{!--Facebook advetrisment text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/facebookAdverticement_icon.svg" alt="icon facebook adverticement">
                </div>

                {{!-- <p> --}}
                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Реклама във Facebook</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Подбор на аудитории</strong>
                        </div>
                        въз основа на демографски, интереси и поведение.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Онлайн присъствие</strong>
                        </div>
                        чрез илюстративни материали и подходящи текстове, които се променят според текущите изисквания.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Ремаркетинг</strong>
                        </div>
                        насочен към предишни потребители и стимулиране на конверсии.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Проследяване и оптимизация</strong>
                        </div>
                        на кампаниите, за постигане на по-добри резултати.
                    </li>
                </ul>
                {{!-- </p> --}}
            </div>

            {{!--Email marketing text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/emailMarketing_icon.svg" alt="icon email marketing">
                </div>

                {{!-- <p> --}}
                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Email Marketing</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Сегментиране</strong>
                        </div>
                        на аудиторията по интереси, поведение и история на покупките.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Креативни е-mail кампании</strong>
                        </div>
                        с атрактивна, професионална визия и подходящо за текущата кампания съдържание.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Автоматизация</strong>
                        </div>
                        на кампании за добре дошли, промоции и изоставени пълни колички.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Тестове и анализи</strong>
                        </div>
                        A/B тестове на съдържание, теми и време за изпращане
                    </li>
                </ul>
                {{!-- </p> --}}
            </div>



        </div>
    </section>
         <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>
    <a class="askForOfferBtn mobile" href="/contacts">Поискайте оферта</a>

</main>