{{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Дигитален маркетинг</h1>
        {{!-- <p>Дигиталният маркетинг е съвкупност от стратегии и техники, използвани за промотиране на продукти,
            услуги или марки чрез дигитални канали. С нарастването на интернет използването и развитието на
            технологиите, дигиталният маркетинг се превърна в основен инструмент за бизнеса, който позволява постигане
            на глобална аудитория, измерване на резултатите и оптимизация на кампаниите в реално време.</p> --}}
        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/redesign_icon.svg" alt="icon redesign">
                </div>

                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Какво покрива дигиталният маркетинг?</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Целева аудитория </strong>
                        </div>
                        Възможност за точно насочване към специфични групи
                            потребители.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Измерваемост </strong>
                        </div>
                        Лесно проследяване на резултатите и възвръщаемостта на инвестициите (ROI).
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Гъвкавост </strong>
                        </div>
                        Бърза адаптация на кампаниите според резултатите и пазарните тенденции.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                        <i class="fa-solid fa-check"></i>
                        <strong class="digitalMarketingOptionAccent">Глобално покритие </strong>
                        </div>
                        Възможност за достигане до аудитория по целия свят.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">

                        <i class="fa-solid fa-check"></i>
                        <strong class="digitalMarketingOptionAccent">Икономичност </strong>
                        </div>
                         По-ниска цена в сравнение с традиционните маркетингови методи
                    </li>
                </ul>
                {{!-- <p class="digitalMarketingOptions"><i class="fa-solid fa-check"></i>SEO</p>
                <p><i class="fa-solid fa-check"></i>Google Ads & Google Analytics</p>
                <p><i class="fa-solid fa-check"></i>Социални медии</p>
                <p><i class="fa-solid fa-check"></i>Email маркетинг</p> --}}
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/add_functionality_icon.svg" alt="icon planing">
                </div>

                <p>
                    <span class="logoInside">Реклама в Google Ads
                    </span></br>

                    Сайтът ви може да се развива според нуждите на бизнеса. Интегрираме нови функционалности като
                    {{!-- онлайн чат, --}}
                    разширени филтри за търсене, платежни системи или клиентски профили. Добавяме и маркетингови
                    инструменти, като автоматизирани известия и CRM решения, за да подобрим потребителското изживяване и
                    ефективността на платформата.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/ui_ux_icon.svg" alt="icon uiux">
                </div>

                <p>
                    <span class="logoInside">Потребителското изживяване
                        {{!-- 🚀 --}}
                    </span></br>
                    Ако потребителите трудно намират информация или срещат проблеми с навигацията, те ще напуснат сайта
                    ви. Оптимизираме потребителското изживяване чрез по-бързо зареждане, интуитивна структура и
                    подобрени форми за контакт и поръчки. Нашата цел е да улесним клиентите ви и да увеличим
                    ангажираността им, което ще подобри ефективността на вашия бизнес.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/ui_ux_icon.svg" alt="icon uiux">
                </div>

                <p>
                    <span class="logoInside">Потребителското изживяване
                        {{!-- 🚀 --}}
                    </span></br>
                    Ако потребителите трудно намират информация или срещат проблеми с навигацията, те ще напуснат сайта
                    ви. Оптимизираме потребителското изживяване чрез по-бързо зареждане, интуитивна структура и
                    подобрени форми за контакт и поръчки. Нашата цел е да улесним клиентите ви и да увеличим
                    ангажираността им, което ще подобри ефективността на вашия бизнес.
                </p>
            </div>

        </div>
    </section>
</main>