{{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs sectionDigitalMarketing">
        <h1 class="servicesHeading">Дигитален маркетинг</h1>
        <p class="digitalMarketingintroducingParagraph">Дигиталният маркетинг е съвкупност от стратегии и техники,
            използвани за промотиране на продукти,
            услуги или марки чрез дигитални канали. С нарастването на интернет използването и развитието на
            технологиите, дигиталният маркетинг се превърна в основен инструмент за бизнеса, който позволява постигане
            на глобална аудитория, измерване на резултатите и оптимизация на кампаниите в реално време.</p>
        <div class="threeColumns">

            {{!-- SEO text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img  src="/images/seo_icon.svg" alt="icon seo">
                    <h3 class="servicesTitle">Search Engine Optimisation</h3>
                </div>

                <p>

                    <i class="fa-solid fa-check"></i>Техническа оптимизация
                    <br>
                    <i class="fa-solid fa-check"></i>
                    Подбор и внедряване на ключови думи
                    <br>
                    <i class="fa-solid fa-check"></i> Интегриране на линкове
                    <br>
                    <i class="fa-solid fa-check"></i> Оптимизация на съдържанието

                </p>
            </div>

            {{!-- Google Ads & Google Analytics text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img  src="/images/googleAds_icon.svg" alt="icon Google Ads">

                    <h3 class="servicesTitle">Реклама в Google</h3>
                </div>
                <p>
                    <i class="fa-solid fa-check"></i>Таргетиране на аудитория
                    <br>
                    <i class="fa-solid fa-check"></i>Search Ads
                    <br>
                    <i class="fa-solid fa-check"></i> Публикуване на банери
                    <br>
                    <i class="fa-solid fa-check"></i>Рекламни клипове в YouTube
                    <br>
                    <i class="fa-solid fa-check"></i>Мониторинг на резултатите

                </p>

            </div>

            {{!--Facebook advetrisment text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/facebookAdverticement_icon.svg" alt="icon facebook adverticement">
                    <h3 class="servicesTitle">Facebook реклама</h3>
                </div>

                <p>

                    <i class="fa-solid fa-check"></i>Подбор на аудитории
                    <br>
                    <i class="fa-solid fa-check"></i>Обновяване на съдържанието
                    <br>
                    <i class="fa-solid fa-check"></i>Стимулиране на предишни потребители
                    <br>
                    <i class="fa-solid fa-check"></i>Оптимизация на кампаниите

                </p>
            </div>

            {{!--Email marketing text --}}
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img  src="/images/emailMarketing_icon.svg" alt="icon email marketing">

                    <h3 class="servicesTitle">Email Marketing</h3>
                </div>

                <p>

                    <i class="fa-solid fa-check"></i>Сегментиране на аудиторията
                    <br>
                    <i class="fa-solid fa-check"></i>Кампании за добре дошли
                    <br>
                    <i class="fa-solid fa-check"></i>Промоции и изоставени пълни колички
                    <br>
                    <i class="fa-solid fa-check"></i>А/В тестове

                </p>
            </div>



        </div>
    </section>
    <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>
    <a class="askForOfferBtn mobile" href="/contacts">Поискайте оферта</a>

</main>