{{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Дигитален маркетинг</h1>
        <p class="digitalMarketingintroducingParagraph">Дигиталният маркетинг е съвкупност от стратегии и техники,
            използвани за промотиране на продукти,
            услуги или марки чрез дигитални канали. С нарастването на интернет използването и развитието на
            технологиите, дигиталният маркетинг се превърна в основен инструмент за бизнеса, който позволява постигане
            на глобална аудитория, измерване на резултатите и оптимизация на кампаниите в реално време.</p>
        <div class="threeColumns">
            {{!--
            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/redesign_icon.svg" alt="icon redesign">
                </div>

                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Какво покрива дигиталният маркетинг?</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Целева аудитория </strong>
                        </div>
                        Възможност за точно насочване към специфични групи
                        потребители.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Измерваемост </strong>
                        </div>
                        Лесно проследяване на резултатите и възвръщаемостта на инвестициите (ROI).
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Гъвкавост </strong>
                        </div>
                        Бърза адаптация на кампаниите според резултатите и пазарните тенденции.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Глобално покритие </strong>
                        </div>
                        Възможност за достигане до аудитория по целия свят.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">

                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Икономичност </strong>
                        </div>
                        По-ниска цена в сравнение с традиционните маркетингови методи
                    </li>
                </ul>

            </div> --}}

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/add_functionality_icon.svg" alt="icon planing">
                </div>

                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Google Ads & Google Analytics</span>
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Таргетиране на правилната аудитория</strong>
                        </div>
                        Детайлни анализи, за определяне на най-ефективните ключови думи, локации и демографски групи.
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Search Ads</strong>
                        </div>
                        таргетиране на клиентите в интернет.
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Display Network</strong>
                        </div>
                        публикуване на банери в сайтове партньори на Google.
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">YouTube</strong>
                        </div>
                        Публикуване на рекламни клипове
                    </li>

                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Ремаркетинг</strong>
                        </div>
                        оптимизация и мониторинг на резултатите.
                    </li>
                </ul>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/add_functionality_icon.svg" alt="icon planing">
                </div>

                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Search Engine Optimisation (SEO)</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Техническа оптимизация</strong>
                        </div>
                        Одит на сайта, перформанса, адаптиране на дизайна за различни устройства, оптимизация и правилна структура на съдържанието.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Ключови думи </strong>
                        </div>
                        Подбор и внедряване на ключови думи, които потребителите търсят.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Link building</strong>
                        </div>
                        Интегриране на линкове от авторитетни сайтове.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Оптимизация</strong>
                        </div>
                        на съществуващи страници и създаване на нови, SEO-ориентирани материали.
                    </li>
                </ul>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/add_functionality_icon.svg" alt="icon planing">
                </div>

                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Реклама във Facebook</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Подбор на аудитории</strong>
                        </div>
                        въз основа на демографски, интереси и поведение.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Онлайн присъствие</strong>
                        </div>
                        чрез илюстративни материали и подходящи текстове, които се променят според текущите изисквания.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Ремаркетинг</strong>
                        </div>
                        насочен към предишни потребители и стимулиране на конверсии.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Проследяване и оптимизация</strong>
                        </div>
                        на кампаниите, за постигане на по-добри резултати.
                    </li>
                </ul>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/add_functionality_icon.svg" alt="icon planing">
                </div>

                <ul class="digitalMarketingOptions">
                    <li class="digitalMarketingTitle">
                        <span class="logoInside">Email Marketing</span>
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Сегментиране</strong>
                        </div>
                        на аудиторията по интереси, поведение и история на покупките.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Креативни е-mail кампании</strong>
                        </div>
                        с професионална визия и подходящо за текущата кампания съдържание.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Автоматизация</strong>
                        </div>
                        на кампании за добре дошли, промоции и изоставени пълни колички.
                    </li>
                    <li class="digitalMarketingOption">
                        <div class="digitalMarketingOptionSubtitleContainer">
                            <i class="fa-solid fa-check"></i>
                            <strong class="digitalMarketingOptionAccent">Тестове и анализи</strong>
                        </div>
                        AB тестове на съдържание, теми и време за изпращане
                    </li>
                </ul>
            </div>



        </div>
    </section>
</main>