{{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Поддръжка на сайт</h1>
        {{!-- <p>Всеки сайт или онлайн магазин се нуждае от редовна поддръжка, за да остане функционален и
            конкурентоспособен. Независимо дали искате промяна в дизайна, нови функционалности или подобрено
            потребителско изживяване, ние предлагаме ефективни решения, които ще осигурят стабилност, сигурност и
            по-добро представяне на вашия бизнес онлайн.</p> --}}
        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/redesign_icon.svg" alt="icon redesign">
                </div>

                <h4 style="text-align: center;">Промяна на дизайн
                    <i class="fa-solid fa-caret-down"></i>
                </h4>
                <p class="hiddenParagraph">

                    Визията на уеб сайта е ключова за впечатлението на клиентите. Предлагаме редизайн, който включва
                    промяна на цветове, типография и елементи за по-модерен и функционален облик. Ако сайтът ви изглежда
                    остарял или не е адаптиран за мобилни устройства, ще го обновим така, че да бъде привлекателен,
                    удобен и интуитивен за потребителите.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/add_functionality_icon.svg" alt="icon planing">
                </div>

                <h4 style="text-align: center;">Добавяне на функционалност
                    <i class="fa-solid fa-caret-down"></i>

                </h4>
                <p class="hiddenParagraph">

                    Сайтът ви може да се развива според нуждите на бизнеса. Интегрираме нови функционалности като
                    {{!-- онлайн чат, --}}
                    разширени филтри за търсене, платежни системи или клиентски профили. Добавяме и маркетингови
                    инструменти, като автоматизирани известия и CRM решения, за да подобрим потребителското изживяване и
                    ефективността на платформата.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/ui_ux_icon.svg" alt="icon uiux">
                </div>

                <h4 style="text-align: center;">Потребителското изживяване
                    <i class="fa-solid fa-caret-down"></i>
                </h4>
                <p class="hiddenParagraph">
                    Ако потребителите трудно намират информация или срещат проблеми с навигацията, те ще напуснат сайта
                    ви. Оптимизираме потребителското изживяване чрез по-бързо зареждане, интуитивна структура и
                    подобрени форми за контакт и поръчки. Нашата цел е да улесним клиентите ви и да увеличим
                    ангажираността им, което ще подобри ефективността на вашия бизнес.
                </p>
            </div>

        </div>
    </section>
    <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>
    <a class="askForOfferBtn mobile" href="/contacts">Поискайте оферта</a>
</main>