<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Социални медии & Дигитален маркетинг</h1>
        <p>
            Предлагаме пълноценни услуги за дигитален маркетинг, които увеличават вашата видимост и ангажираност в социалните медии. Разработваме и изпълняваме стратегии, които са точно насочени към вашата целева аудитория, увеличавайки трафика към вашия уебсайт и подобрявайки онлайн присъствието на вашата марка.
        </p>
        <p>
            <strong>Google Ads Услуги:</strong>
            Чрез Google Ads ние предлагаме възможността за моментално позициониране на вашия бизнес във върховите
            позиции в търсачката на Google и на свързаните с нея сайтове. Нашите кампании са изцяло персонализирани,
            като се ориентират стриктно към вашата целева аудитория с максимална точност в таргетирането. Управлението
            на PPC кампании включва създаване на атрактивни реклами, непрекъснато тестване и оптимизация, за да осигурим
            най-добри резултати и оптимизиране на бюджета.
        </p>
        <p>
            Създаваме и управляваме съдържание за всички основни платформи като Facebook, Instagram, X и LinkedIn. Нашите услуги включват планиране и публикуване на атрактивно съдържание, управление на кампании и реклами, както и мониторинг и анализ на резултатите.
        </p>
        
    </section>
     <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>
    <a class="askForOfferBtn mobile" href="/contacts">Поискайте оферта</a>
</main>