{{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Изработване на уебсайт</h1>
        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img style="width: 75%;" src="/images/planing_icon.svg" alt="icon planing">

                    <h3 class="servicesTitle">Планиране</h3>
                </div>
                <p>
                    Началният етап обхваща консултация, при която ще уточним вашите изисквания и спецификации за сайта. Ще ви предложим оптимални решения за домейн и хостинг, като се погрижим за тяхното резервиране. Следва разработката на вашия продукт, като вие ще можете да проследявате напредъка. Нашият екип от дизайнери програмисти е на разположение да осъществи мечтаният сайт до последния детайл.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img class="widthIcon" src="/images/development_icon.svg" alt="icon development">
                    <h3 class="servicesTitle">Изработване</h3>
                </div>

                <p>
                    Преминаваме към ключовия етап – имплементация. През цялото време вие ще бъдете информирани за постигнатия напредък и ще можете да внасяте корекции, за да е сигурно, че крайният продукт отговаря изцяло на вашите изисквания. Включването на SEO оптимизация ще допринесе сайтът ви да бъде лесно откриваем и популярен сред клиентите и партньорите ви.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img class="widthIcon" src="/images/advertisement_icon.svg" alt="icon advertisement">
                    
                    <h3 class="servicesTitle">Реализация</h3>
                </div>

                <p>
                    След завършване на разработката, ще публикуваме сайта онлайн. Ако желаете ще предложим пакет от услуги за неговото популяризиране, включващ реклами в Google и социалните мрежи, създаване и управление на профили и периодични публикации. Нашите дизайнери ще осигурят атрактивна визия на всяка ваша презентация. Предлагаме също така и услуги за постоянна поддръжка и актуализации, които да отговарят на променящите се нужди на вашата компания.
                </p>
            </div>
        </div>
    </section>
    <a class="askForOfferBtn desktop" href="/contacts">Поискайте оферта</a>
    <a class="askForOfferBtn mobile" href="/contacts">Поискайте оферта</a>
</main>