{{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Изработване на уебсайт </br>или електронен магазин</h1>
        <div class="threeColumns">

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img src="/images/planing_icon.svg" alt="icon planing">
                </div>

                <p>
                    Началният етап обхваща консултация, при която ще уточним вашите изисквания и спецификации за
                    сайта.
                    Ще ви предложим оптимални решения за домейн и хостинг, като се погрижим за тяхното резервиране.
                    Следва разработката на вашия продукт, като вие ще можете да проследявате напредъка. Нашият
                    екип от дизайнери програмисти е на разположение да осъществи мечтаният сайт до последния детайл.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img class="widthIcon" src="/images/development_icon.svg" alt="icon development">
                </div>

                <p>
                    Преминаваме към ключовия етап – реализацията на проекта. Времето за
                    разработка варира - обикновено около десет дни или повече.
                    През
                    цялото време вие ще бъдете информирани за постигнатия напредък. Ще можете да внасяте
                    корекциир за да е сигурно, че крайният продукт отговаря изцяло на вашите изисквания.
                    Включването на SEO оптимизация ще допринесе сайтът ви да бъде лесно откриваем и
                    популярен сред клиентите и партньорите ви.
                </p>
            </div>

            <div class="paragraphWithIcons">
                <div class="iconContainer">
                    <img class="widthIcon" src="/images/advertisement_icon.svg" alt="icon advertisement">
                </div>

                <p>
                    След завършване на разработката, ще публикуваме сайта онлайн. Ако желаете ще предложим пакет от услуги за неговото
                    популяризиране, включващ реклами в Google и социалните мрежи, създаване и управление на профили и
                    периодични
                    публикации. Нашите дизайнери ще осигурят атрактивна визия на всяка ваша презентация. Предлагаме също
                    така и
                    услуги за постоянна поддръжка и актуализации, които да отговарят на променящите се нужди на вашата
                    компания.
                </p>
            </div>
        </div>
    </section>
</main>