 {{>carousel}}

<main class="noAside">
    <section class="section sectionAboutUs">
        <h1>Изработване на уебсайт или електронен магазин?</h1>
        <p>Началният етап обхваща консултация, при която ще разгледаме и уточним вашите нужди и спецификации за сайта.
            Ще ви предложим оптимални решения за домейн и хостинг, като се погрижим за тяхното резервиране. Следва
            разработката на първоначален дизайн — както визуален, така и функционален, за желания от вас продукт. Нашият
            екип от дизайнери е на разположение да създаде уникално лого и да осъществи вашата визия до най-малкия
            детайл.</p>

        <p> След вашето одобрение, преминаваме към ключовия етап – реализацията на проекта. Времето за разработка варира
            в зависимост от сложността на сайта, като обикновено е нужен период от около десет дни или повече. През
            цялото време вие ще бъдете информирани за постигнатия напредък и ще имате възможността да внасяте корекции
            по хода на работа, за да гарантираме, че крайният продукт отговаря изцяло на вашите изисквания. Включването
            на SEO оптимизация и други ключови елементи ще допринесе сайтът ви да бъде лесно откриваем и популярен сред
            клиентите и партньорите ви.</p>
        <p>След завършване на разработката, ще публикуваме сайта онлайн и предложим пакет от услуги за неговото
            популяризиране, включващ реклами в Google и социалните мрежи, създаване и управление на профили и периодични
            публикации. Нашите дизайнери ще осигурят, атрактивна визия на всяка ваша презентация. Предлагаме също така и
            услуги за постоянна поддръжка и актуализации, които да отговарят на променящите се нужди на вашата компания.
        </p>
    </section>




</main>