<!-- Starts Main Section -->
<main>
    <fieldset>
        <legend>Log in form</legend>
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <button class="additionalStyle" >Log in</button>
        </form>
    </fieldset>
</main>