<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->

<main>

        <fieldset>
            <legend>Register form</legend>
            <form method="POST" action="/users/register">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" />

                <label for="email">Email</label>
                <input type="text" name="email" id="email" />

                <label for="password">Password</label>
                <input type="password" name="password" id="password" />

                <label for="repeatPassword">Repeat Password</label>
                <input type="password" name="repeatPassword" id="repeatPassword" />

                <button class="additionalStyle">Register</button>
            </form>
        </fieldset>

</main>