<main>

    <fieldset>
        <legend>Register form</legend>

        {{#if error}}
        <div class="messageContainer red">
            <p class="messageText">{{error}}</p>
        </div>
        {{/if}}
        <form method="POST" action="/users/register">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="{{username}}"/>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="{{email}}"/>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" />

            <label for="repeatPassword">Repeat Password</label>
            <input type="password" name="repeatPassword" id="repeatPassword" />

            <button class="additionalStyle">Register</button>
        </form>
    </fieldset>

</main>